.head{
    background: #753ff6;
    margin: 60px 35px;
    border-radius: 40px;
    color: rgba(255, 255, 255, 0.945);
    font-family:sans-serif;
    padding-bottom: 30px;
}

.headlogo h3{
    padding-top: 80px;
    padding-left: 120px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium';
    letter-spacing: 2px;
    color: rgb(223, 223, 217);
}

.headlogo h1{
    padding-left: 120px;
    font-size: 53px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: -2px;
}

.headlogo p{
    padding-left: 120px;
    font-size: 19px;
    color: rgb(223, 223, 217);
    line-height: 30px;
    margin-top: -20px;    
}

.headlogo h5{
    padding-left: 120px;
    font-size: 17px;
    color: white;
    line-height: 22px;
}

.headlogo img{
    height: 600px;
    margin-left: 700px;
    margin-top: -530px;
}

.sec1{
    display: flex;
    column-gap: 50px;  
    justify-content: center;
    
   
    
}

.sec1 article{
    width: 400px;
    border-radius: 50px;
    height: 200px;
    text-align:center;
    font-family: Arial, sans-serif;
    padding-top: 270px;
}

.sec1 article h1{
    color: #1a0e38;
    font-size: 30px;
    margin-bottom: -30;
}

.sec1 article h6{
    color: rgb(141, 141, 189);
    font-size: 17px;
    font-family:Arial, cursive, sans-serif;
   
}

.sec1 article h6 span{
    color: rgba(51, 51, 51, 0.418);
}

.box1{
    background-color: rgb(218, 211, 224);
    margin-left: 35px;  
}

.box2{
    background-color: rgb(252, 236, 218);
}

.box3{
    background-color: rgb(198, 228, 222);
    margin-right: 35px;
}

.sec2{
    display: flex;
    column-gap: 50px;  
    margin-top: 40px;   
}

.sec2 ul li{
    list-style: none;
    margin-top: -230px;
    margin-left: 520px;
    margin-bottom: 240px;
}

.sec2 ul li a{
    text-decoration: none;
    padding:15px 36px;
    background: rgb(6, 6, 27);
    border-radius: 50px; 
    color: rgb(255, 255, 255);
    font-size: 20px;   
}

.sec2 article{
    border-radius: 50px;
    height: 200px;
    font-family: Arial, sans-serif;
    padding-top: 270px;
    text-align: center;
    

}

.sec2 article h1{
    color: #1a0e38;
    font-size: 30px;
    margin-bottom: -30;
    text-align: center;

}

.sec2 article h6{
    color: rgb(51, 51, 51, 0.418);
    font-size: 17px;
    font-family:Arial, cursive, sans-serif;
}


.box4{
    background-color: rgb(218, 238, 240);
    margin-left: 35px; 
    width: 600px; 
}

.box5{
    background-color: rgb(255, 214, 233);
    width: 1200px;
    margin-right: 35px;   
}

.sec3{
    display: flex;
    column-gap: 50px;  
    justify-content: center;
    margin-top: 40px; 
    
}

.sec3 article{
    border-radius: 50px;
    height: 380px;
    text-align:center;
    font-family: Arial, sans-serif;
    padding-top: 270px;
    width: 700px;   
}

.sec3 article h1{
    color: #1a0e38;
    font-size: 48px;
    margin-bottom: -40;
}

.sec3 article h6{
    color: rgba(51, 51, 51, 0.418);
    font-size: 23px;
    font-family:Arial, cursive, sans-serif;
}

.box6{
    background-color: rgb(252, 236, 218);
    margin-left: 35px;  
}

.box7{
    background-color: rgb(243, 210, 233);
    margin-right: 35px; 
}

.sec4{
    display: flex;
    column-gap: 50px;  
    justify-content: center;
    margin-top: 40px; 
}


.sec4 ul li{
    list-style: none;
    margin-top: -230px;
    margin-left: 300px;
    margin-bottom: 350px;
}

.sec4 ul li a{
    text-decoration: none;
    padding:15px 30px;
    background: rgb(6, 6, 27);
    border-radius: 50px; 
    color: rgb(255, 255, 255);
    font-size: 19px;   
}

.sec4 article{
    border-radius: 50px;
    height: 380px;
    text-align:center;
    font-family: Arial, sans-serif;
    padding-top: 270px;
    width: 700px;    
}

.sec4 article h1{
    color: #1a0e38;
    font-size: 45px;
    margin-bottom: -40;
}

.sec4 article h6{
    color: rgba(51, 51, 51, 0.418);
    font-size: 22px;
    font-family:Arial, cursive, sans-serif;  
}

.box8{
    background-color: rgb(215, 250, 219);
    margin-left: 35px;  
}

.box9{
    background-color: rgb(233, 227, 238);
    margin-right: 35px; 
}

.sec5{
    background: #212337;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 45px 35px;
    border-radius: 40px;
    color: white;
    font-family:sans-serif;
    height: 480px;
    text-align: center;
}

.sec-5 h1{
    padding-top: 130px;
    font-size: 45px;
    font-family:'Franklin Gothic Medium';
    letter-spacing: 2px;
    
}

.sec-5 p{
    font-size: 22px;
    color: rgba(223, 213, 213, 0.63);
    line-height: 30px;
    margin-top: -20px;    
}

.list ul li{
    display:inline-flex;
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
}

.list ul li a{
    text-decoration: none;
    padding:20px 60px;
    background: rgb(228, 220, 220);
    border-radius: 50px; 
    color: #1a181de1;
    font-size: 23px;   
}

.sec6 ul li{
    display: inline-flex;
    list-style: none;
}

.sec6 ul li a{
    text-decoration: none;
    padding:20px 30px;
    background: rgb(241, 239, 239);
    border-radius: 50px; 
    color: #110f13e1;
    font-size: 20px; 
    text-align: center;  
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.sec6 ul li span a{
    margin-left: 350px;
}

.sec7{
    text-align: center;
    color: rgb(159, 162, 167);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sec7 h3{
    font-size: 22px;
}

.sec7 p{
    font-size: 22px;
    line-height: 30px;
}

.sec8 h3{
    text-align: center;
    font-size: 28px;
    font-family:'Franklin Gothic Medium';
    letter-spacing: 2px;
    color: rgb(159, 162, 167);
}

.sec9{
    margin-left: 500px;
    margin-bottom: 80px;
}

.logo1{
    width: 35px;
    margin-right: 60px;
}

.logos{
    width: 45px;
    margin-right: 60px;
   
}

.logo{
    width: 22px;
    margin-right: 60px;
}